# nixpacks.toml

[phases.setup]
nixPkgs = ["nodejs-20_x", "openssl"]

[phases.install]
dependsOn = ["setup"]
# Enable corepack and install in one go
cmds = ["corepack enable && pnpm install"]

[phases.build]
dependsOn = ["install"]
# Enable corepack and build
cmds = ["corepack enable && pnpm build"]

[start]
# Enable corepack and start
cmd = "corepack enable && pnpm start"